.container__servtecnico{
    display: grid;
    grid-template-rows: 100px 550px 770px 100px;
    grid-template-areas: 
    "header"
    "servtecnico"
    "proved"
    "footer";
}

#servtecnico{
    grid-area:servtecnico;
    font-family: $font-type1;
    padding-top: px;
    justify-self: center;
    font-size: 25px;
    box-shadow: $sombras;
    padding: 0;
            .card{
                border: black solid;
            }
}

.proved{
    grid-area: proved;
}