
$font-type1: 'Bebas Neue', cursive;
$font-type2: 'Kaushan Script', cursive;
$degrade: linear-gradient(to left, black, white);
$border-type: solid black 2px;
$degrade-2: linear-gradient(to top, black, white);
$sombras: 0 15px 20px;
