* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

.migajas {
  padding-top: 25px;
  padding-left: 10px;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
}

.container__productos {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px 1100px 100px;
      grid-template-rows: 100px 1100px 100px;
      grid-template-areas: "header" "productos" "footer";
}

#productos {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: productos;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 10px;
  background-color: white;
  padding: 10px;
  padding-bottom: 50px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  font-family: "Bebas Neue", cursive;
  font-weight: bold;
}

#productos .productos__img {
  margin: 15px 0;
  border: solid black 2px;
}

#productos .productos__txt {
  margin-left: 100px;
  font-size: 20px;
}

.container__servtecnico {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px 550px 100px;
      grid-template-rows: 100px 550px 100px;
      grid-template-areas: "header" "servtecnico" "footer";
}

#servtecnico {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: servtecnico;
  font-family: "Bebas Neue", cursive;
  padding-top: px;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 25px;
}

#servtecnico .card {
  border: black solid;
}

.container__nosotros {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px 950px 100px;
      grid-template-rows: 100px 950px 100px;
      grid-template-areas: "header" "nosotros" "footer";
}

#nosotros {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nosotros;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
  margin-top: 20px;
  max-width: 900px;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
}

#nosotros .card-img-top {
  height: 500px;
}

.container__contactos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 100px 450px 400px 100px;
      grid-template-rows: 100px 450px 400px 100px;
      grid-template-areas: "header header" "formulario mapa" "canales canales" "footer footer";
}

#contactanos {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: formulario;
}

#formulario {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: formulario;
  font-family: "Bebas Neue", cursive;
  padding-left: 50px;
  padding-top: 50px;
}

.mapa {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: mapa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding-left: 100px;
  padding-top: 30px;
}

#canales {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: canales;
  font-family: "Bebas Neue", cursive;
  background-image: -webkit-gradient(linear, left bottom, left top, from(black), to(white));
  background-image: linear-gradient(to top, black, white);
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
  color: black;
}

#canales .canales__titulo {
  font-size: 40px;
  padding-bottom: 10px;
  color: black;
}

#canales .canales__contacto li {
  list-style: none;
}

#canales .canales__contacto li a {
  list-style: none;
  font-size: 20px;
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#canales .canales__redes li {
  list-style: none;
}

#canales .canales__redes li a {
  list-style: none;
  font-size: 25px;
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* Indexx */
.container__index {
  max-width: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 125px 650px 500px 100px;
      grid-template-rows: 125px 650px 500px 100px;
      grid-template-areas: "header header header" "presentacion presentacion presentacion" "texto texto texto" "footer footer footer";
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  background-color: white;
  height: 125px;
  background-image: -webkit-gradient(linear, right top, left top, from(black), to(white));
  background-image: linear-gradient(to left, black, white);
  z-index: 999;
}

.header .header__logo {
  height: 100px;
  width: 120px;
  border-end-end-radius: 40px;
}

.header .navbar {
  font-family: "Bebas Neue", cursive;
  color: white;
  font-size: 24px;
}

#presentacion {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: presentacion;
  padding-top: 10px;
  background-color: white;
}

#texto {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: texto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: white;
  padding-top: 100px;
  background-image: -webkit-gradient(linear, right top, left top, from(black), to(white));
  background-image: linear-gradient(to left, black, white);
}

#texto .presentacion__txt {
  font-size: 25px;
  font-family: "Bebas Neue", cursive;
  list-style: none;
  padding-left: 50px;
}

#texto .presentacion__txt2 {
  font-size: 25px;
  font-family: "Bebas Neue", cursive;
  margin-left: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 10px;
  padding-left: 150px;
}

#texto .presentacion__txt3 {
  font-size: 30px;
  font-family: "Kaushan Script", cursive;
  padding-top: 70px;
  color: white;
  padding-left: 50px;
}

#texto .presentacion__video {
  margin-right: 100px;
  height: 350px;
  width: 500px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 50px;
  border-radius: 20px;
  border: solid black 2px;
}

/* Redes Sociales Link */
.social__bar {
  position: fixed;
  right: 0;
  top: 35%;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 100;
}

.social__bar .icon {
  color: white;
  text-decoration: none;
  padding: .7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.social__bar .icon:hover {
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42);
  color: black;
}

.social__bar .icon:last-child {
  border-radius: 0 0 0 1rem;
}

.social__bar .icon:first-child {
  border-radius: 1rem 0 0 0;
}

.icon-facebook {
  background: #2E406E;
}

.icon-twitter {
  background: #339DC5;
}

.icon-whatsapp {
  background: green;
}

.icon-instagram {
  background: red;
}

/* Footer */
.pie {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  height: 140px;
  font-family: "Bebas Neue", cursive;
}

.pie__datos {
  font-size: 18px;
  font-family: "Bebas Neue", cursive;
  color: white;
  list-style: none;
}

.pie .copy {
  color: white;
  margin-left: 50%;
}
/*# sourceMappingURL=mutando-a-sass.css.map */