*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

/* Variables */

$font-type1: 'Bebas Neue', cursive;
$font-type2: 'Kaushan Script', cursive;
$degrade: linear-gradient(to left, black, white);
$border-type: solid black 2px;

 /* Indexx */

.container__index{
    max-width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 125px 650px 400px 100px ;
    grid-template-areas: 
    "header header header"
    "presentacion presentacion presentacion"
    "texto texto texto"
    "footer footer footer";
}
.header{
    grid-area: header;
    background-color:white;
    height: 125px;
    background-image: $degrade;
    z-index: 999;
    .header__logo{
        height: 100px;
        width: 120px;
        border-end-end-radius: 40px;
    }
    .navbar{
        font-family: $font-type1;
        color: white;
        font-size: 24px; 
    }
}
    
#presentacion{
    grid-area: presentacion;
    padding-top: 10px;
    background-color: white;
}

 #texto{
    grid-area: texto;
    display: flex;
    justify-content: space-around;
    background-color:white;
    padding-top: 70px;
    padding-bottom: 20px;
    background-image: $degrade;
        .presentacion__txt{
            font-size: 25px;
            font-family: $font-type1;
            list-style: none;
            padding-left: 50px;
        }
        .presentacion__txt2{
            font-size: 25px;
            font-family: $font-type1;
            margin-left: 5px;
            align-self: center;
            padding-top: 10px;
            padding-left: 150px;
        }
        .presentacion__txt3{
            font-size: 30px;
            font-family: $font-type2;
            padding-top: 70px;
            color: white;
            padding-left: 50px;
        }
        .presentacion__video{
            margin-right: 100px;
            height: 350px;
            width: 500px;
            align-self:center;
            margin-bottom: 50px;
            border-radius: 20px;
            border:$border-type;
        }
 }
 
 /* Redes Sociales Link */


.social__bar{
    position: fixed;
	right: 0;
	top: 35%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
        .icon {
            color: white;
            text-decoration: none;
            padding: .7rem;
            display: flex;
            transition: all .5s;
            &:hover{
                padding-right: 3rem;
                border-radius: 1rem 0 0 1rem;
                box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
                color: black; 
            }
            &:last-child{
                border-radius: 0 0 0 1rem;
            }
            &:first-child{
                border-radius: 1rem 0 0 0;
            }
        } 
}

.icon-facebook {
	background: #2E406E;
}

.icon-twitter {
	background: #339DC5;
}

.icon-whatsapp {
	background: green;
}

.icon-instagram {
	background: red;
}

/* Footer */

.pie{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 140px;
    font-family: $font-type1;
        &__datos{
            font-size: 18px;
            font-family: $font-type1;
            color: white;
            list-style: none;
        }
        .copy{
            color: white;
            margin-left: 50%;
        }
}

/* Pagina Productos */

.migajas{
    padding-top: 25px;
    padding-left: 10px;
    font-family: $font-type1;
    font-size: 20px;
}

