*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

@import "variables";
@import "productos";
@import "servtecnico";
@import "nosotros";
@import "contactos";

@mixin flex-space {
    display: flex;
    justify-content: space-around;
    
}
 
/* Indexx */

.container__index{
    max-width: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 125px 750px 400px 50px 600px 150px ;
    grid-template-areas: 
    "header header header"
    "presentacion presentacion presentacion"
    "texto texto texto"
    "titulo titulo titulo"
    "noticia noticia noticia"
    "footer footer footer";
}
.header{
    grid-area: header;
    height: 125px;
    background-image: $degrade;
    .header__logo{
        height: 100px;
        width: 120px;
        border-end-end-radius: 40px;
    }
    .navbar{
        font-family: $font-type1;
        font-size: 24px;

    }
    .nav-link{
        color: black;
    }

}
    
#presentacion{
    grid-area: presentacion;
    padding-top: 10px;
    background-color: white;
}

.titulo__noticias{
    grid-area: titulo;
    text-align: center;
    font-family: $font-type1;
    border-top: black solid 1px;
    background-color: gray;
}

.card-group{
    grid-area: noticia;
    font-family: $font-type1;
        .card-title{
            font-size: 25px;
        }
        
}

#texto{
    grid-area: texto;
    @include flex-space;
    background-color:white;
    padding-top: 400px;
        .presentacion__txt{
            font-size: 25px;
            font-family: $font-type1;
            list-style: none;
            padding-left: 50px;
        }
        .presentacion__txt2{
            font-size: 25px;
            font-family: $font-type1;
            margin-left: 5px;
            align-self: center;
            padding-top: 10px;
            padding-left: 150px;
        }
        .presentacion__txt3{
            font-size: 30px;
            font-family: $font-type2;
            padding-top: 70px;
            color: #610D00 ;
            padding-left: 50px;
        }
        .presentacion__video{
            margin-right: 100px;
            height: 350px;
            width: 500px;
            align-self:center;
            margin-bottom: 50px;
            border-radius: 20px;
            border:$border-type;
            box-shadow: $sombras;
        }
    }
 
 /* Redes Sociales Link */


.social__bar{
    position: fixed;
	right: 0;
	top: 35%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
        .icon {
            color: white;
            text-decoration: none;
            padding: .7rem;
            display: flex;
            transition: all .5s;
            &:hover{
                padding-right: 3rem;
                border-radius: 1rem 0 0 1rem;
                box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
                color: black; 
            }
            &:last-child{
                border-radius: 0 0 0 1rem;
            }
            &:first-child{
                border-radius: 1rem 0 0 0;
            }
        } 
}

$redes:(
    facebook:#2E406E,
    twitter:#339DC5,
    whatsapp: green,
    instagram: red
);

@each $name, $value in $redes {
    .icon-#{$name} {
      background: $value;
    }  
}

/* Footer */

.pie{
    grid-area: footer;
    display: flex;
    justify-content:space-between;
    background-color: black;
    height: 180px;
    font-family: $font-type1;
        &__datos{
            display: inline-block;
            font-size: 17px;
            font-family: $font-type1;
            color: white;
            list-style: none;
            padding-top: 10px;
        }
        .copy{
            display: inline-block;
            color: white;
            padding-top: 50px;
            padding-right: 50px;
        }
        .pie__logo{
            height: 140px;
            width: 180px;
            
            
        }
        .social{
            font-size: 25px;
            padding-right: 10px;
            color: white;
            padding-top: 50px;
        }
        .icon{
            color: white;
            text-decoration: none;
            background-color: black;
        }
}

/* MediaQuery */

@media (max-width: 592px) {

    .container__index{
        max-width: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 125px 300px 750px 50px 1600px 150px ;
        grid-template-areas: 
        "header header header"
        "presentacion presentacion presentacion"
        "texto texto texto"
        "titulo titulo titulo"
        "noticia noticia noticia"
        "footer footer footer";
    }
    
    .header{
        grid-area: header;
        background-color: white;
        background-image: none;
        border-bottom: solid black 2px;
            .navbar-collapse{
                z-index: 999;
            }
    }

    .navbar-nav{
        background-color: white ;
        z-index: 999;
        position: sticky;
    }
    
    .nav-item{
        color: yellow;
    }

    #presentacion{
        grid-area: presentacion;
       
    }

    .titulo__noticias{
        grid-area: titulo;
    }
    
    .card-group{
        grid-area: noticia;
        
    }

    #texto{
        grid-area: texto;
            .video{
                padding-left: 80px;
            }
            .presentacion__video{
                margin: 0%;
                width: 290px;
                height: 245px;
                
            }
    }


    .pie{
        grid-area: footer;
            .pie__datos{
                font-size: 13px;
                padding-left: 10px;
            }
            .pie__logo{
                height: 100px;
                width: 120px;
                display: none;
            }
            .icon{
                font-size: 16px;
            }
    }


    /*Productos */ 

    .container__productos{
        display: grid;
        grid-template-rows: 100px 4100px 100px;
        grid-template-areas: 
        "header"
        "productos"
        "footer";
    }
    #productos{
        grid-area: productos;
    }

    /*Nosotros */ 

    .container__nosotros{
        display: grid;
        grid-template-rows: 100px 650px 50px 1600px 100px;
        grid-template-areas: 
        "header"
        "nosotros"
        "titulo"
        "noticia"
        "footer";
    }
    #nosotros{
        grid-area: nosotros;
        font-size: 15px;
            .card-img-top{
                height: 300px;
            }
    }

    /*Servicio Tecnico */

    .container__servtecnico{
        display: grid;
        grid-template-rows: 100px 800px 2000px 100px;
        grid-template-areas: 
        "header"
        "servtecnico"
        "proved"
        "footer";
    }

    #servtecnico{
        grid-area: servtecnico;
        font-size: 20px;
        width: 300px;  
    }

    .proved{
        grid-area: proved;
    }

    /* Contactos */ 

    .container__contactos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 800px 450px 350px 100px;
        grid-template-areas: 
        "header header"
        "formulario formulario"
        "mapa mapa"
        "canales canales"
        "footer footer";
    }

    #contactanos{
        grid-area: formulario;
    }

    #formulario{
        grid-area: formulario;
        font-family: $font-type1;
        padding-top: 50px;
    }

    .mapa{
        grid-area: mapa;
        display: flex;
        background-color: white;
        padding-top: 30px;
        padding-left: 90px;
            .mapa__mapa{
                height: 400px;
                width: 400px;
            }
        
    }

    #canales{
        grid-area: canales;
            .canales__titulo{
                font-size: 30px;
            }
    }

}

@media (min-width: 576px) and (max-width: 991px) {

    .container__index{
        max-width: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 125px 500px 500px 50px 800px 150px ;
        grid-template-areas: 
        "header header header"
        "presentacion presentacion presentacion"
        "texto texto texto"
        "titulo titulo titulo"
        "noticia noticia noticia"
        "footer footer footer";
    }
    
    .header{
        grid-area: header;
        background-color: white;
        background-image: none;
        border-bottom: solid black 2px;
            .navbar-collapse{
                z-index: 999;
            }
        
    }

    .navbar-nav{
        background-color: white ;
        z-index: 999;
        position: sticky;
    }

    #presentacion{
        grid-area: presentacion;
       
    }

    .titulo__noticias{
        grid-area: titulo;
    }
    
    .card-group{
        grid-area: noticia;
    }

    #texto{
        grid-area: texto;
            .video{
                padding-left: 80px;
            }
            .presentacion__video{
                margin: 0%;
                width: 290px;
                height: 280px;
                
            }
    }


    .pie{
        grid-area: footer;
            .pie__datos{
                font-size: 17px;
            }
            .pie__logo{
                height: 130px;
                width: 150px;
            }
    }


    /*Productos */ 

    .container__productos{
        display: grid;
        grid-template-rows: 100px 2300px 100px;
        grid-template-areas: 
        "header"
        "productos"
        "footer";
    }
    #productos{
        grid-area: productos;
    }

    /*Nosotros */ 

    .container__nosotros{
        display: grid;
        grid-template-rows: 100px 800px 50px 800px 100px;
        grid-template-areas: 
        "header"
        "nosotros"
        "titulo"
        "noticia"
        "footer";
    }
    #nosotros{
        grid-area: nosotros;
        font-size: 20px;
            .card-img-top{
                height: 500px;
            }
    }

    /*Servicio Tecnico */

    .container__servtecnico{
        display: grid;
        grid-template-rows: 100px 400px 400px 100px;
        grid-template-areas: 
        "header"
        "servtecnico"
        "proved"
        "footer";
    }

    #servtecnico{
        grid-area: servtecnico;
        font-size: 20px;
        width: 850px;
        
        
        
    }

    .proved{
        grid-area: proved;
    }

    /* Contactos */ 

    .container__contactos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 500px 400px 100px;
        grid-template-areas: 
        "header header"
        "formulario mapa"
        "canales canales"
        "footer footer";
        
    }

    #contactanos{
        grid-area: formulario;
    
    }

    #formulario{
        grid-area: formulario;
        font-family: $font-type1;
        padding-top: 50px;
    }

    .mapa{
        grid-area: mapa;
        display: flex;
        background-color: white;
        padding-top: 30px;
        padding-left: 80px;
            .mapa__mapa{
                height: 300px;
                width: 400px;
            }
        
    }

    #canales{
        grid-area: canales;
        
    }


}

@media (min-width: 992px) and (max-width: 1187px) {

    .header{
        grid-area: header;
    }

    .container__productos{
        display: grid;
        grid-template-rows: 100px 1900px 100px;
        grid-template-areas: 
        "header"
        "productos"
        "footer";
    }
    #productos{
        grid-area: productos;
    }

    .pie{
        grid-area: footer;
    }

}



   
    
